
.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    
}


.me__img {
    position: relative;
    height: 100%;
    z-index: 2;
}


.typewriter {
    overflow: hidden;
    /* Oculta texto mientras se “escribe” */
    white-space: nowrap;
    /* Que no haga salto de línea */
    border-right: 3px solid #fff;
    /* Cursor */
    width: fit-content;

    animation: typing 2s steps(13, end) infinite, blink 0.2s step-end infinite;

}

/* Animación de escribir */
@keyframes typing {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

/* Parpadeo del cursor */
@keyframes blink {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: #ffffff79;
    }

    100% {
        border-color: transparent;
    }
}


.carouselWrapper {
    width: 100vw;
    overflow: hidden;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
    rotate: calc(90deg);
    top: 0;
    left: 80vh;
}

.carousel {
    display: inline-flex;
    animation: scrollUp 11s linear infinite;
    height: 100%;
    gap: 0;
    margin: 0;padding: 0;
    
}

/* Estilo para cada letra */
.carousel h2 {
    font-size: calc(15vw);
    font-weight: 700;
    display: inline-block;
    color: #00000088;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    line-height: 1;
    height: 30vh;
}

/* Movimiento hacia arriba completo */
@keyframes scrollUp {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.dust {
    width: 100%;
    position: absolute;
    z-index: 3;
    pointer-events: none;
    display: flex;
    
}
.paper{
    width: 100%;
    position: absolute;
    z-index: 4;
    pointer-events: none;
    display: flex;
    bottom: -2vh;
}