.header{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    padding:  0rem 4rem;
    display: flex;
    align-items: flex-end;
    pointer-events: auto;
    z-index: 2;
    
}
.gohome__btn{
    font-size: calc(4vw);
    font-weight: 700;
    line-height: 1;
    padding: 0;
}   

.header__nav{
    
    margin: 0 2rem;
    width: 85%;
    border-bottom: 2px solid #000;
    padding:  0;
}
.hireme__btn{
    font-size: calc(1.5vw);
    font-weight: 600;
    line-height: 1;
    cursor: pointer;
    transition:  ease-in 0.2s;

}
.hireme__btn:hover{
    transform: scale(1.1);
    letter-spacing: 1.5px;
}
hr{
    color: black;
}