.container{
    padding: 4rem;
    display: flex;
}
.title__container{
    width: 50%;
}
.info__container{
    width: 50%;
    height: 50vh;
}
.title__container h2{
    color: var(--main-color);
}
.info__container p{
    font-size: calc(1.2vw);
    text-align: right;
}

.line{
    width: 90%;
    border-right: 3px solid var(--main-color);
    height: 50%;
}